.carousel-inner{
    max-height: 39rem;
}
.logotipo{
    height: 3rem;
}
.texto-shadow{
    text-shadow: 2px 2px 8px #333;
}
.oscurecer-img{
    filter: brightness(50%);
  }
.team-member img {
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
section#contacto form#contactForm .form-group-textarea textarea {
    height: 100%;
    min-height: 9rem;
}
.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-top: 3rem;
}
.footer a{
    text-decoration: none;
}