.carousel-inner{
    max-height: 39rem;
}
.logotipo{
    height: 3rem;
}
.texto-shadow{
    text-shadow: 2px 2px 8px #333;
}
.oscurecer-img{
    filter: brightness(50%);
  }
.team-member img {
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
section#contacto form#contactForm .form-group-textarea textarea {
    height: 100%;
    min-height: 9rem;
}
.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
}
.mt-n4 {
    margin-top: -1.5rem !important;
}
.pt-lg-0 {
    padding-top: 0 !important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
footer a{
    text-decoration: none;
}
.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

@media (max-width:460px){
    .col.text-end {
        align-self: center;
    }
    span.fw-bold {
        font-weight: 500 !important;
        font-size: 13px;
    }
    span.h5.border.border-secondary.rounded-pill.p-2 {
        font-size: 13px;
    }
    p.h2.texto-shadow {
        font-weight: 400;
        font-size: 15px;
    }
    h2.display-3.fw-bold.texto-shadow {
        font-size: 22px;
    }
}
